 /* body{
	background-color: #f9fbfc;
}
h2{
	color: #4b4d4f;
	text-align: center;
	background-color: #c1c1c1;
	padding: 5px 0;
}

h4{
	color: #4b4d4f;
	text-align: center;
	background-color: #c1c1c1;
	padding: 5px 0;
}
.custom_button{
	margin-bottom: 10px;
} */

.footer_color{
	background-color: #E8E8F1;
}
.user_login{
	width: 300px;
	margin-top: 50px;
	border: solid 2px;
	border-color: #d1d2d3;
	padding: 20px;
}


.header{
	padding-top: 20px ;
	position: relative;
	height: 130px;
}


.logo{
	float:left ;

}
.headline{
	float: left;
	margin: 25px 0 0 5px;

}

.phone{
	text-align: right;
	padding-top: 30px;
	font-weight: 600;
}
.phone i{
	color: #000;
}

.phone i:hover {
	color: #f9db18;
}

.form-design{
	border: solid 2px;
	border-color: #d1d2d3;
	padding: 10px 10px;
}

.footer_margin{
	margin-top: 200px;
}

.nev{
	width: 100%;
	height: 30px;
	background: #e2e2e2;
	margin-top: 15px;
	float: right;
	margin-bottom: 5px;
}
.nev ul{
	list-style: none;
}
.nev ul li{
	float: left;

	padding: 5px 10px;
}
.nev ul li a{
	text-decoration: none;
	color: #000;
	font: sans-serif;
	font-size: small;
}
.nev ul li a:hover{
	color: #d4af37;
}
